@import './variables.styl'
#nprogress
  .bar
    background main-color !important
  .peg
    box-shadow 0 0 10px main-color, 0 0 5px main-color !important
  .spinner-icon
    border-top-color main-color !important
    border-left-color main-color !important
